<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
        <div formGroupName="userData">
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              id="username"
              formControlName="username"
              class="form-control">
              <span class="text-danger" *ngIf="signUpForm.get('userData.username').invalid && signUpForm.get('userData.username').touched">
                <span *ngIf="signUpForm.get('userData.username').errors['isForbidden']">This name is forbidden.!</span>
                <span *ngIf="signUpForm.get('userData.username').errors['required']">Username is required.!</span>
              </span>
          </div>
          <div class="form-group">
            <label for="email">email</label>
            <input
              type="text"
              id="email"
              formControlName="email"
              class="form-control">
              <span class="text-danger" *ngIf="signUpForm.get('userData.email').invalid && signUpForm.get('userData.email').touched">
                <span *ngIf="signUpForm.get('userData.email').errors['isEmailForbidden']">This domain is forbidden.!</span>
                <span *ngIf="signUpForm.get('userData.email').errors['required']">Email is required.!</span>
              </span>
          </div>
        </div>
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input
              type="radio"
              formControlName="gender"
              [value]="gender">{{ gender }}
          </label>
        </div>
        <div formArrayName="hobbies">
          <label>Your Hobbies: </label>
          <button type="button" (click)="onAddHobby()">Add</button>
          <div class="form-group" *ngFor="let hobby of signUpForm.get('hobbies').controls; let i = index">
            <input type="text" class="form-control" [formControlName]="i">
          </div>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="signUpForm.invalid">Submit</button>
        <button class="btn btn-info" type="button" (click)="onReset()">Reset</button>
        <button class="btn btn-warning" type="button" (click)="onLoadDefault()">Load default</button>
      </form>
    </div>
  </div>
</div>
